<div class="md:flex md:items-center md:justify-between">
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Orders</h2>

  <div class="mt-4 flex md:ml-4 md:mt-0">
    <%= link_to "New Order", new_dashboard_order_path, class: "ml-3 inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>
</div>

<%= render Blocks::ItemTableComponent.new(
  items: @orders,
  headers: Dashboard::OrdersHelper::COLUMNS.values,
  rows: Dashboard::OrdersHelper::COLUMNS.keys,
  actions: Dashboard::OrdersHelper::ACTIONS,
  scope: [:dashboard],
  pagy: @pagy
) %> 