<%= form.text_area @field_name, class: input_classes, placeholder: @placeholder %>
<% if has_errors? %>
  <p class="mt-2 text-sm text-red-600"><%= @form.object.errors[@field_name].first %></p>
<% end %>